.ListagemTipo{
    margin-bottom: 16px;
    display: block;
    align-items: center;
    text-align: center;
   
}

.ListagemTipo .collumns{

    display: flex;
    justify-content: space-evenly;
    
}

@media (max-width: 600px)  {
    .ListagemTipo .collumns{

        display:block;
        justify-content: center;
        align-items: center;
       
    }
}